<h2 class="lh-base" style="height: fit-content">Sign up</h2>
<section class="w-50">
  <%= form_for(@form, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: @form %>

    <div class="form-group">
      <%= f.label :display_name %>
      <%= f.text_field :display_name, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, required: true, minlength: 3, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br/>
      <%= f.password_field :password, required: true, minlength: @minimum_password_length, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, required: true, minlength: @minimum_password_length, class: "form-control" %>
    </div>

    <div class="actions pt-2 pb-2">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>